# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Secrets
.env

# Build
dist/
build/

# Python cache
.pytest_cache/

# SQLite
*.db